@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = Localizer.Text("titlePasswordReset");
    Layout = "~/Pages/Shared/_LoginLayout.cshtml";
}

<h1>@ViewData["Title"]</h1>
<p>
    @Localizer.Text("textoResetPasswordConfirmation1") <a asp-page="./Login">@Localizer.Text("textoResetPasswordConfirmation2")</a>.
</p>
