<footer id="appFooter">

    <div class="container">
        <p>
            &copy; TuF@ctoring 2020. @Localizer.Text("Derechos reservados").
        </p>
        <ul class="list-inline">
            <li class="list-inline-item">
                <small>@Localizer.Text("textoEmail")</small>: <a href="#">TuFactoring@gmail.com</a>
            </li>
            <li class="list-inline-item">
                <small>@Localizer.Text("textophone")</small>: <a href="#">0412-555-5555</a>
            </li>
        </ul>
    </div>
</footer>
